# Centos 7
# 存放位置 /usr/lib/systemd/system
# 开启 systemctl start natapp
# 关闭 systemctl stop natapp
# 开机启动 systemctl enable natapp
# 取消开机启动 system disable natapp

[Unit]
Description=Javajdk Service
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStart=请更新为java的执行路径 -jar /usr/local/java/iot-notify-service.jar &
StandardOutput=syslog
StandardError=null


[Install]
WantedBy=multi-user.target